module.exports = {
    viewports: [
        { width: 1280, height: 1024 },
        { width: 768, height: 1024 },
        { width: 480, height: 320 }
    ],

    environments: {
        current: 'http://somehost.com/',
        candidate: 'http://stage.somehost.com/'
    },

    css: {
        body: 'background-color: red',
        '.selector-to-hide': 'display: none'
    },

    phantomcss: {
        defaultTimeout: 15000,
        verbose: true,
        screenshotRoot: './img/',

        // Resemble.js settings
        outputSettings: {
            errorColor: { red: 255, green: 0, blue: 255 },
            // flat | movement | flatDifferenceIntensity | movementDifferenceIntensity
            errorType: 'flatDifferenceIntensity',
            transparency: 1,
            largeImageThreshold: 0
        }
    },

    output: {
        junit: true,
        json: true
    }
};
